{{ define "main" }}
<article class="content is-medium">
  {{ with .Resources.GetMatch "featured-image" }}
    <figure class="image is-marginless">
      <img src="{{ .Permalink }}" alt="{{ .Title }}"/>
    </figure>
  {{ end }}

  <h2 class="title">
    {{ .Title }}
  </h2>
  <p class="subtitle has-text-weight-light has-text-grey-light">
      {{- .PublishDate.Format "Mon Jan 2 2006" -}}
  </p>

  <p>
    {{ .Content }}
  </p>
</article>

<div class="tags">
  {{ range .Params.tags }}
    <a href="{{ "tags" | absURL }}/{{ . | urlize }}" class="tag is-medium">{{ . }}</a>
  {{ end }}
</div>
{{ end }}