{{ define "main" }}
  <article>
    <h1 class="title is-size-1">
      {{ title .Type }}
    </h1>

    <section>
      <div class="field is-grouped is-grouped-multiline">
        {{- template "_internal/pagination.html" -}}
        {{ $type := .Type }}
        {{ range $key, $value := .Data.Terms.Alphabetical }}
          {{ $name := .Name }}
          {{ $count := .Count }}
          {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
            <div class="control">
              <a href="{{ .Permalink }}">
                <div class="tags has-addons">
                  <span class="tag is-large">{{ $name }}</span>
                  <span class="tag is-success is-large">{{ $count }}</span>
                </div>
              </a>
            </div>
          {{ end }}
        {{ end }}
      </div>
    </section>
  </article>
{{ end }}