@charset "utf-8";

// Colors
$purple: hsl(252, 91%, 70%);
$green: hsl(156, 85%, 48%);

// Palette
$primary: $purple;
$primary-invert: hsl(0, 0%, 96%);
$success: $green;
$success-invert: hsl(0, 0%, 21%);

// Body
$body-background-color: hsl(0, 0%, 21%);
$body-color: hsl(0, 0%, 96%);

// Text
$text: $body-color;
$text-invert: hsl(0, 0%, 21%);
$text-light: hsl(0, 0%, 96%);
$text-strong: hsl(0, 0%, 100%);

// Title
$title-color: $body-color;
$subtitle-color: hsl(0, 0%, 71%);

// Link
$link: $success;
$link-invert: hsl(0, 0%, 21%);
$link-hover: $primary;
$link-visited: $primary;

// Tags
$tag-background-color: hsl(0, 0%, 10%);
$tag-color: $text;

// Pagination
$pagination-color: $body-color;

$pagination-hover-color: $success;
$pagination-hover-border-color: $success;

$pagination-focus-color: $body-color;
$pagination-focus-border-color: $success;

$pagination-current-color: $link-invert;
$pagination-current-background-color: $success;
$pagination-current-border-color: $success;

$pagination-ellipsis-color: $body-color;

// Footer
$footer-background-color: hsl(0, 0%, 10%);

// @import "~bulma/bulma";

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";

@import "~bulma/sass/components/level.sass";
@import "~bulma/sass/components/pagination.sass";
@import "~bulma/sass/components/navbar.sass";

@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/content.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/icon.sass";
@import "~bulma/sass/elements/image.sass";
@import "~bulma/sass/elements/other.sass";
@import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/elements/title.sass";

@import "~bulma/sass/grid/columns.sass";

@import "~bulma/sass/layout/_all.sass";


.summary {
    padding-bottom: $size-1;

    .image {
        padding-bottom: $size-5;
    }
}
